/* Level 1 */
#level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 /* Level 2 */
 #level-2 {
    display: grid;
   grid-template-columns: 1fr 1fr;
   
 }
#level-2 .peas {
    grid-column: 1/-1;
}

/* Level 3 */
#level-3 {
    display: grid;
    grid-template-columns: 2fr 4fr;
}
#level-3 > .carrots {
    grid-column: span 2;
}
#level-3 > .tomatoes {
    grid-row: span 2;
}

/* Level 7 */
#level-7 {
    display: grid;
    grid-template-areas: "onions peas carrots lettuce tomatoes";
}